body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1;
}
#app {
  height: 100vh;
  width: 30em;
  max-width: 90%;
  margin: 0 auto;
}
.app-inner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  margin: 2em 0 0.8em;
}
button {
  display: block;
  margin: 3em 0 0;
  padding: 1em 2em;
  font-family: sans-serif;
  text-transform: uppercase;
  background: #eee;
  border: none;
  cursor: pointer;
}
button:hover {
  background: #ddd;
}

.grid {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 2em 0 1em;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  max-width: 55vh;
}
.grid > span {
  height: 0;
  padding-bottom: 100%;
}
.point {
  display: block;
  cursor: pointer;
  position: relative;
  font-family: monospace;
  font-size: 1.5em;
}
.point[data-lines|='line'] {
  position: relative;
}
.point[data-lines|='line']:before {
  content: '';
  position: absolute;
  background: #ddd;
  pointer-events: none;
}

/* top-left down to bottom-left */
.point[data-lines='line-0']:before {
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  height: calc(600% + (6 * 10px));
  width: 1px;
}
.point[data-lines='line-9']:before {
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  height: calc(400% + (4 * 10px));
  width: 1px;
}
.point[data-lines='line-18']:before {
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  height: calc(200% + (2 * 10px));
  width: 1px;
}

/* bottom-left across to bottom-right */
.point[data-lines='line-6']:before {
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: calc(600% + (6 * 10px));
  height: 1px;
}
.point[data-lines='line-15']:before {
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: calc(400% + (4 * 10px));
  height: 1px;
}
.point[data-lines='line-24']:before {
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: calc(200% + (2 * 10px));
  height: 1px;
}

/* bottom-right up to top-right */
.point[data-lines='line-8']:before {
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  height: calc(600% + (6 * 10px));
  width: 1px;
}
.point[data-lines='line-17']:before {
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  height: calc(400% + (4 * 10px));
  width: 1px;
}
.point[data-lines='line-26']:before {
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  height: calc(200% + (2 * 10px));
  width: 1px;
}

/* top-right across to top-left */
.point[data-lines='line-2']:before {
  top: 50%;
  right: 50%;
  transform: translateY(-50%);
  width: calc(600% + (6 * 10px));
  height: 1px;
}
.point[data-lines='line-11']:before {
  top: 50%;
  right: 50%;
  transform: translateY(-50%);
  width: calc(400% + (4 * 10px));
  height: 1px;
}
.point[data-lines='line-20']:before {
  top: 50%;
  right: 50%;
  transform: translateY(-50%);
  width: calc(200% + (2 * 10px));
  height: 1px;
}

/* centers vertical */
.point[data-lines='line-10']:before,
.point[data-lines='line-16']:before {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  height: calc(200% + (2 * 10px));
  width: 1px;
}

/* centers horizontal */
.point[data-lines='line-12']:before,
.point[data-lines='line-14']:before {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: calc(200% + (2 * 10px));
  height: 1px;
}

/* point circle */
.point:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}

.inner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 2;
}

.controls {
  display: flex;
  justify-content: 'space-between';
  /* margin-top: 1.6em; */
  width: 65%;
  margin: 0 auto;
  cursor: default;
}
.controls > p {
  flex: 1;
  text-align: center;
}
.turn,
.action {
  cursor: default;
  opacity: 0.8;
}
.turn.end,
.action.end {
  opacity: 0;
}
.reset {
  opacity: 0;
}
.reset.end {
  cursor: pointer;
  opacity: 0.8;
}
.feedback {
  text-align: center;
  min-height: 60px;
  font-style: italic;
  font-size: 0.9em;
  cursor: default;
  opacity: 0.8;
}
