body {
  margin: 0;
  font-family: monospace;
  font-size: 1.3em;
}
#app {
  height: 100vh;
  width: 30em;
  max-width: 90%;
  margin: 0 auto;
}
.app-inner {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.title {
  margin: 2em 0 0.8em;
}
button {
  display: block;
  margin: 3em 0 0;
  padding: 1em 2em;
  font-family: sans-serif;
  text-transform: uppercase;
  background: #eee;
  border: none;
  cursor: pointer;
}
button:hover {
  background: #ddd;
}

.grid {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 2em 0 1em;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  max-width: 55vh;
}
.grid > span {
  height: 0;
  padding-bottom: 100%;
}
.point {
  display: block;
  cursor: pointer;
  position: relative;
}
.point:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.inner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.turn {
  flex: 1;
  margin-top: 1.6em;
}
